<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="se.adempiere.sie.ImportSIEFile"
         name="Import SIE File"
         point="org.adempiere.base.Process">
         <process class="se.idempiere.sie.ImportSIEFile">
         </process>
   </extension>
   <extension
         id="se.adempiere.sie.ExportSIE4File"
         name="Export SIE File"
         point="org.adempiere.base.Process">
         <process class="se.idempiere.sie.ExportSIE4File">
         </process>
   </extension>

</plugin>
